<div class="container">
<h1>Add a movie to the list</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
<%# the two variables @list, @bookmark they will be passed from the controller inside the def new %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit "Add movie", class: "btn btn-primary"%>
<% end %>
</div>
